<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="Wicresoft.Framework.ConnectionString" value="Data Source=.;Initial Catalog=WSAF_ST;User ID=sa;Password=Password01!" />
    <add key="Wicresoft.Framework.Log.ConnectionString" value="Data Source=.;Initial Catalog=WSLOG;Password=Password01!;User ID=sa" />
    <add key="WSAF.Server" value="http://localhost/"/>
    <add key="WSAF.FrameworkWebServieUrl" value="http://localhost/Framework.WebService/"/>
    <add key="WSAF.ExternalFrameworkWebServieUrl" value="http://localhost/Framework.WebService/"/>
    <add key="WSAF.ApplicationID" value="{5CC47442-6677-40b9-8747-B5FC566660C9}"/>
    <add key="WSAF.Public.RootDepartmentID" value="{A90AEAEC-E3D4-43DE-BB67-85407B57B171}"/>
    <add key="WSAF.EncryptFunction" value="Random"/>
    <add key="FiledName" value="jd"/>
    <add key="OceanData.Application.ConnectingString" value="server=192.168.109.132;database=DeveloperCommunity;user id=sa;password=Password01!;"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

</configuration>
